.govuk-table__blamelog {
    .renderjson {
        a {
            text-decoration: none;
            color: #00823b;
        }

        .key + .object.syntax {
            position: relative;
            padding-right: 15px;

            &::after {
                content: '=>';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                padding-left: 5px;
                background: #fff;
            }
        }
    }
}
