.govuk-admin-menu {
  padding-inline-start: 15px;
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;

  .govuk-admin-menu {
    //padding-inline-start: 20px;
  }

  .govuk-menu-link {
    text-decoration: none !important;
    font-weight: 700;
    font-size: 1.1875rem;
    color: #0b0c0c !important;
  }

  li.active {
    position: relative;
  }
  li.active:before {
    display: block;
    position: absolute;
    content: "»";
    left: -12px;
  }

  li {
    padding: 3px 0;
  }
}
