@import "~govuk-frontend/govuk/base";

.govuk-pagination__container {
  padding-top: govuk-spacing(6);
  overflow: hidden;
  padding-bottom: govuk-spacing(1);

  width: 40%;
  margin: 0 auto;

  @include govuk-font($size: 19);

  display: flex;

  .previous,
  .next {
    flex-basis: 30%;
    margin: 0;
  }

  .previous {
    padding-right: 15px;

    //a:before {
    //  @include govuk-shape-arrow('left', 16);
    //}
  }

  .next {
    padding-left: 15px;
    text-align: right;

    //a:after {
    //  @include govuk-shape-arrow('right', 16);
    //}
  }

  a {
    padding: 0 govuk-spacing(2);
    line-height: govuk-spacing(4);
    text-decoration: none;
    color: govuk-colour('blue');

    &:visited {
      //color: govuk-colour('purple');
      color: govuk-colour('blue');
    }
  }
}

.govuk-pagination {
  margin: 0 auto;
  text-align: center;
  flex-basis: 40%;

  > ul {
    display: inline-block;
    margin: 0 govuk-spacing(3);
    list-style-type: none;
    padding-left: 0;

    li {
      padding-left: 0;
      display: inline-block;

      &.govuk-pagination__active {
        color: govuk-colour('mid-grey');
        cursor: default;
        background: transparent;
      }

      &.govuk-pagination__active {
        padding: 0 govuk-spacing(2);
      }
    }
  }
}

