@import "~govuk-frontend/govuk/base";

.admin-surveys {
  &__vehicle-header {
    border-bottom: 4px solid govuk-colour('bright-purple');
  }

  &__trip-header {
    border-bottom: 4px solid govuk-colour('mid-grey');
  }

  &__back-to-top {
    @include govuk-font(19);
    float: right;
  }
}