@import "~govuk-frontend/govuk/base";

.admin-surveys {
  &__trip-header {
    border-bottom: 4px solid govuk-colour('mid-grey');
  }

  &__back-to-top {
    @include govuk-font(19);
    float: right;
  }
}

.api-response {
  & + .api-response {
    @include govuk-responsive-margin(4, "top");
  }

  &__recipient {
    margin-left: 15px;
    font-size: 115%;
  }

  &__timestamp {
    margin-left: 15px;
  }
}