{% extends 'base.html.twig' %}

{% block title %}Sign in{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
    <h1 class="govuk-heading-xl">Sign in</h1>
    {{ form(form) }}
{% endblock %}
