{% extends 'admin/base-with-nav.twig' %}

{%- block adminContent -%}
    {% from '@GhostGovUkFrontend/components/macros.html.twig' import actionlessSummaryListRow, warningText -%}
    <h1 class="govuk-heading-l" id="top">Delete Vehicle</h1>

    {%- with {showActions: false, vehicle: vehicle, marginBottom: 4} -%}
        {%- include "international_survey/includes/vehicle.html.twig" -%}
    {%- endwith -%}

    {{ warningText('This will permanently delete this vehicle and all related trips and consignment actions.') }}

    {{ form(form) }}
{%- endblock -%}