{% extends 'admin/base-with-nav.twig' %}

{%- block adminContent -%}
    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import actionlessSummaryListRow, tabsHead, tag, tableCell, tableHeadComplex -%}

    <h1 class="govuk-heading-l" id="top">Vehicle — {{ vehicle.registrationMark|formatRegMark }}</h1>

    {{ form(form) }}
{%- endblock -%}