{% extends 'base.html.twig' %}

{% block content %}
    <h1 class="govuk-heading-xl">{{ 'service.name' | trans }}</h1>

    <p class="govuk-body">This site is for user testing purposes, and is intended for people who have been invited to use it.</p>

    <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m">Domestic survey</h2>
            <p class="govuk-body">If you have been given a code for the domestic survey, you can <a href="{{ url('app_login') }}">login here</a>.</p>
        </div>
        <div class="govuk-grid-column-one-half">
            <h2 class="govuk-heading-m">International survey</h2>
            <p class="govuk-body">If you have been given a code for the international survey, you can <a href="{{ url('app_login') }}">login here</a>.</p>
        </div>
    </div>
{% endblock %}
