{% extends 'admin/base-with-nav.twig' %}

{%- block adminContent -%}
    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import warningText -%}
    {%- from "admin/domestic/macros.html.twig" import dayJourneyTableHeadingAndCaption -%}

    <h1 class="govuk-heading-l" id="top">{{ "#{translation_prefix}.title"|trans }}</h1>

    <table class="govuk-table admin-journeys-table">
        {{- dayJourneyTableHeadingAndCaption(null, survey, stop.day, 'stop') -}}
        <tbody class="govuk-table__body">
        {%- with {showActions: false, marginBottom: 4} -%}
            {%- include "admin/domestic/includes/day-stop-individual.html.twig" -%}
        {%- endwith -%}
        </tbody>
    </table>

    {{- warningText("#{translation_prefix}.delete"|trans) -}}

    {{- form(form) -}}
{%- endblock -%}