{% extends 'admin/base-with-nav.html.twig' %}

{% set translation_prefix = 'admin.domestic.re-order-day-stops' %}

{%- block adminContent -%}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half-from-desktop">
            {%- set reorderRouteExtraParams = {surveyId: survey.id} -%}
            {%- include "domestic_survey/includes/form-day-stop-reorder.html.twig" -%}
        </div>
    </div>
{%- endblock -%}