{% set translation_prefix = 'domestic.closing-details.confirm-submission' %}
{% extends 'domestic_survey/form-base.html.twig' %}

{% block content %}
    {%- include 'includes/form-page-content.html.twig' with {
        preFormContent: block('preFormContent'),
    } -%}
{% endblock %}

{% block preFormContent %}
    <div class="govuk-!-padding-bottom-5">
        <h2 class="govuk-heading-m">{{ (translation_prefix ~ '.contact-details')|trans }}</h2>
        <p class="govuk-body">{{ (translation_prefix ~ '.contact-details-copy')|trans }}</p>
        {% with {survey: subject.survey, showActions: false, marginBottom: 5} %}
            {% include 'domestic_survey/includes/contact-details.html.twig' %}
        {% endwith %}
    </div>

    <h2 class="govuk-heading-m">{{ (translation_prefix ~ '.confirm-and-submit')|trans }}</h2>
    {%- set summaryRoute = constant('App\\Controller\\DomesticSurvey\\IndexController::SUMMARY_ROUTE') -%}
    <p class="govuk-body">Please confirm that all the information you have entered in the survey is correct and complete before submitting it. To check that your journey information is correct, you can <a href="{{ url(summaryRoute) }}" class="govuk-link">go back to the dashboard</a>.</p>
{% endblock %}