{% set translation_prefix = 'domestic.survey-response.confirm-submission' %}
{% set useThirdsColumns = false %}
{% extends 'domestic_survey/form-base.html.twig' %}

{% block content %}
    {% with {survey: subject.survey, showActions: false} %}
        {% include 'domestic_survey/includes/contact-details.html.twig' %}

        <p class="govuk-body">Please ensure that all the information you have entered is correct and complete before submitting your survey. You can <a href="{{ url('app_domesticsurvey_index') }}">go back</a> and check if you're unsure.</p>
{#
        {% if survey.businessAndVehicleDetailsComplete %}
            {% include 'domestic_survey/includes/business-details.html.twig' %}
            {% include 'domestic_survey/includes/vehicle-details.html.twig' %}
        {% endif %}

        {% include 'admin/domestic/surveys/survey-week.html.twig' %}
#}

{#        <p class="govuk-body">#}
{#            <a href="{{ url('app_domesticsurvey_index') }}">Back to dashboard</a>#}
{#        </p>#}


    {% endwith %}

    {{ parent() }}
{% endblock %}