{% set translation_prefix = 'domestic.closing-details.start' %}
{% extends 'domestic_survey/form-base.html.twig' %}

{% block content %}
    {%- include 'includes/form-page-content.html.twig' with {
        preFormContent: block('preFormContent'),
    } -%}
{% endblock %}

{% block preFormContent %}
    <p class="govuk-body">
        There are a few more questions to answer before you can submit your survey. It should take less than 5 minutes.
    </p>
    <p class="govuk-body">
        {%- set summaryRoute = constant('App\\Controller\\DomesticSurvey\\IndexController::SUMMARY_ROUTE') -%}
        Please ensure that all the information you have entered so far is correct and complete before continuing. You can <a href="{{ url(summaryRoute) }}" class="govuk-link">go back to the dashboard</a> and check if you're unsure.
    </p>
{% endblock %}
