{% extends 'base.html.twig' %}

{% block title %}Domestic Survey{% endblock %}

{% block content %}
    <h1 class="page-heading__heading govuk-heading-xl">{{ 'survey.domestic.forms.vehicle-axle-configuration.heading' | trans }}</h1>

    <p class="govuk-body"></p>

    {{ form(form) }}
{% endblock %}

