{% extends 'base.html.twig' %}

{% block title %}Domestic Survey{% endblock %}

{% block content %}
    <h1 class="page-heading__heading govuk-heading-xl">{{ 'survey.domestic.forms.vehicle-trailer-configuration.heading' | trans }}</h1>

    <p class="govuk-body"></p>

    {{ form(form) }}
{% endblock %}

{% form_theme form 'domestic_survey/vehicle_and_business_details/theme-vehicle-icons.html.twig' %}
