{% set translation_prefix = 'pre-enquiry.correspondence-address' %}
{% extends 'pre_enquiry/form-base.html.twig' %}

{% set preFormContent %}
    {% if form.isCorrectAddress is defined %}
        <h3 class="govuk-heading-s">{{ "#{translation_prefix}.original-address"|trans }}</h3>
        <p class="govuk-body govuk-!-margin-bottom-8">
            {{ form.vars.value.preEnquiry.invitationAddress|formatAddress(true, false)|nl2br }}
        </p>
    {% endif %}
{% endset %}