{% extends 'domestic_survey/base.html.twig' %}

{% block content %}
    <h1 class="page-heading__heading govuk-heading-xl">Contact, Business and Vehicle details</h1>

    {% include 'domestic_survey/includes/contact-details.html.twig' %}

    {% if survey.businessAndVehicleDetailsComplete %}
        {% include 'domestic_survey/includes/business-details.html.twig' %}
        {% include 'domestic_survey/includes/vehicle-details.html.twig' %}

        <p class="govuk-body">
            <a href="{{ url('app_domesticsurvey_index') }}">Back to dashboard</a>
        </p>
    {% endif %}
{% endblock %}
