
{% macro displayLimitedBy(entity) %}
    {%- set limits = entity.wasLimitedBySpace ? ['space'] : [] -%}
    {%- set limits = limits|merge(entity.wasLimitedByWeight ? ['weight'] : []) -%}
    {% if limits is empty %}-{% else -%}
        By {{ limits|join(', ') }}
    {%- endif -%}
{% endmacro %}

{% macro displayNote(note, deleteRoute, deleteParams, options) %}
    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import summaryListRow -%}

    {%- set keyContent -%}
        {{- note.createdBy | removeEmailNamespacePrefix -}}
        <div class="govuk-summary-list-notes__timestamp">{{- note.createdAt | date('format.date-time.default' | trans) -}}</div>
        {% if note.wasChased %}
            <div><strong class="govuk-tag govuk-tag--blue">Contacted haulier</strong></div>
        {% endif %}
    {%- endset -%}

    {{- summaryListRow({
        key: {html: keyContent},
        value: {html: note.note | nl2br},
        actions: (options.hideActions ?? false) ?
            [] :
            [
                {
                    href: path(deleteRoute, deleteParams | default([]) | merge({note: note.id})),
                    text: 'delete',
                }
            ]
    }) -}}
{% endmacro %}
