{% set translation_prefix = 'international.vehicles' %}
{% extends 'international_survey/base.html.twig' %}

{% block beforeContent %}{% endblock %}

{% block content %}
    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import actionLinks -%}
    {%- from 'macros.html.twig' import displayAxleConfiguration -%}

    <h1 class="page-heading__heading govuk-heading-xl">Vehicles</h1>

    <table class="govuk-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Registration</th>
            <th scope="col" class="govuk-table__header">Type/configuration</th>
            <th scope="col" class="govuk-table__header"></th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        {%- for vehicle in vehicles %}
        <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ vehicle.formattedRegistrationMark }}</td>
            <td class="govuk-table__cell">{{ displayAxleConfiguration(vehicle.axleConfiguration) }}</td>
            <td class="govuk-table__cell">
                {%- set vehicleRoute = constant('App\\Controller\\InternationalSurvey\\VehicleController::VEHICLE_ROUTE') -%}
                {{ actionLinks({(url(vehicleRoute, {registrationMark: vehicle.registrationMark})): 'View'}) }}
            </td>
        </tr>
        {% else %}
        <tr class="govuk-table__row">
            <td class="govuk-table__cell" colspan="3">No vehicles</td>
        </tr>
        {%- endfor %}
        </tbody>
    </table>

    <p class="govuk-body">
        {%- set addVehicleRoute = constant('App\\Controller\\InternationalSurvey\\VehicleAddController::START_ROUTE') -%}
        <a href="{{ url(addVehicleRoute) }}" class="govuk-button">Add vehicle</a>
    </p>
{% endblock %}