{% set translation_prefix = 'international.summary' %}
{% extends 'international_survey/base.html.twig' %}

{% block beforeContent %}{% endblock %}

{% block content %}
    {%- import '@GhostGovUkFrontend/components/macros.html.twig' as gdsComponents -%}
    {%- set response = survey.response -%}

    <h1 class="page-heading__heading govuk-heading-xl">Vehicles</h1>

{% endblock %}