{% extends 'international_survey/form-base.html.twig' %}
{% set translation_prefix = 'international.stop.remove' %}

{% block content -%}
    <h1 class="govuk-heading govuk-heading-xl">{{ 'international.stop.remove.heading'|trans }}</h1>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <p class="govuk-body">
                {{ 'international.stop.remove.are-you-sure' | trans({name: stop.name, country: stop.country | country_name}) }}
            </p>
            {{ form(form) }}
        </div>
        <div class="govuk-grid-column-one-third">
            {% include "international_survey/includes/trip-summary.html.twig" %}
        </div>
    </div>
{%- endblock %}
