{% set translation_prefix = 'international.trip-stops' %}
{% extends 'international_survey/base.html.twig' %}

{% block content %}
    {%- from 'macros.html.twig' import addToListRow as row, addToListActionLinks as actionLinks -%}

    <h1 class="page-heading__heading govuk-heading-xl">Stops</h1>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <dl class="govuk-summary-list govuk-!-margin-bottom-2">
                {%- set changeRoute = constant('App\\Controller\\InternationalSurvey\\StopController::EDIT_ROUTE') -%}
                {%- set removeRoute = constant('App\\Controller\\InternationalSurvey\\StopController::REMOVE_ROUTE') -%}
                {%- for stop in trip.stops -%}
                    {%- set changeLink = url(changeRoute, {tripId: trip.id, stopId: stop.id}) -%}
                    {%- set removeLink = url(removeRoute, {tripId: trip.id, stopId: stop.id}) -%}
                    {%- set key =
                        ("<strong>#{loop.index}.</strong> "|raw) ~
                        ('international.stop.summary.stop'|trans({place: stop.name, country: stop.country|country_name})|e) -%}
                    {{ row(key, {(changeLink): 'common.actions.change', (removeLink): 'common.actions.remove'}, {noEscape: true}) }}
                {%- endfor -%}
            </dl>
            <div class="govuk-!-margin-bottom-9 govuk-body">
                {%- set reorderRoute = constant('App\\Controller\\InternationalSurvey\\StopController::REORDER_ROUTE') -%}
                <a href="{{ url(reorderRoute, {tripId: trip.id}) }}" class="govuk-link">Re-order stops</a>
            </div>

            {{ form(form) }}
        </div>
        <div class="govuk-grid-column-one-third">
            {% include "international_survey/includes/trip-summary.html.twig" %}
        </div>
    </div>
{% endblock %}