{% set translation_prefix = 'international.trip-delete' %}
{% extends 'international_survey/base.html.twig' %}

{%- block content -%}
    {% from '@GhostGovUkFrontend/components/macros.html.twig' import warningText -%}
    <h1 class="govuk-heading-l" id="top">{{ "#{translation_prefix}.title"|trans }}</h1>

    {%- set showActions = trip.actions|length > 1 -%}

    {%- with {showActions: false, trip: trip, marginBottom: 4} -%}
        {%- include "international_survey/includes/trip.html.twig" -%}
    {%- endwith -%}

    {%- if showActions -%}
        {%- with {isAdmin: true, showActions: false, trip: trip, marginBottom: 4} -%}
            {%- include "international_survey/includes/actions.html.twig" -%}
        {%- endwith -%}

        {{ warningText("#{translation_prefix}.delete-multi"|trans) }}
    {%- else -%}
        {{ warningText("#{translation_prefix}.delete"|trans) }}
    {%- endif -%}

    {{ form(form) }}
{%- endblock -%}

