{% extends 'admin/base.html.twig' %}

{% block content -%}
    {% apply spaceless %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-menu">
            {% block adminMenu %}
                {% if menu is defined %}
                    {% from 'admin/macros/menu.html.twig' import displayAdminMenu %}
                    {{ displayAdminMenu(menu) }}
                {% else %}
                    <p class="govuk-body">Menu not defined</p>
                {% endif %}
            {% endblock %}
        </div>
        <div class="govuk-grid-column-content">
            {% from '@GhostGovUkFrontend/components/macros.html.twig' import flashNotificationBanners %}
            {{ flashNotificationBanners() }}

            {% block adminContent %}
                <p class="govuk-body">Content</p>
            {% endblock %}
        </div>
    </div>
    {% endapply %}
{%- endblock %}