{% extends 'admin/base-with-nav.twig' %}

{%- block adminContent -%}
    {% from '@GhostGovUkFrontend/components/macros.html.twig' import actionlessSummaryListRow, warningText -%}
    <h1 class="govuk-heading-l" id="top">Delete Trip</h1>

    {%- set showActions = subject.actions|length > 0 -%}

    {%- with {showActions: false, trip: subject, marginBottom: showActions ? 9 : 4} -%}
        {%- include "international_survey/includes/trip.html.twig" -%}
    {%- endwith -%}

    {%- if showActions -%}
        <h2 class="govuk-heading-m govuk-!-margin-bottom-0">Actions</h2>
        {%- with {isAdmin: true, showActions: false, trip: subject, marginBottom: 4} -%}
            {%- include "international_survey/includes/actions.html.twig" -%}
        {%- endwith -%}

        {{ warningText('This will permanently delete this trip and all related consignment actions (shown above).') }}
    {%- else -%}
        {{ warningText('This will permanently delete this trip.') }}
    {%- endif -%}

    {{ form(form) }}
{%- endblock -%}