{% extends 'admin/base-with-nav.html.twig' %}

{% set translation_prefix = "admin.international.edit-final-details" %}

{%- block adminContent -%}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half-from-desktop">
            {{ form(form) }}
        </div>
    </div>
{%- endblock -%}