{% set translation_prefix = 'international.action.summary' %}
{% extends 'international_survey/base.html.twig' %}

{% block content %}
    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import summaryListRow, actionLinks -%}

    <h1 class="page-heading__heading govuk-heading-xl">
        {{ 'international.action.summary.heading-delete'|trans({number: action.number}) }}
    </h1>

    {%- if action.loading -%}
        {%- set filter = [action.id]|merge(action.unloadingActions|map(a => a.id)) -%}
    {%- else -%}
        {%- set filter = [action.id] -%}
    {%- endif -%}

    {%- with {isAdmin: true, showActions: false, trip: action.trip, filter: filter} -%}
        {%- include "international_survey/includes/actions.html.twig" -%}
    {%- endwith -%}

    <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
        <strong class="govuk-warning-text__text">
            <span class="govuk-warning-text__assistive">Warning</span>
            {% if action.loading %}
                Are you sure you want to delete this loading action and related unloading actions? (shown above)
            {% else %}
                Are you sure you want to delete this unloading action?
            {% endif %}
        </strong>
    </div>

    {{ form(form) }}
{% endblock %}