.govuk-header {
    .govuk-header__content > nav {
        float: right;
    }

    .govuk-header__navigation-item {
        padding-left: 15px;

        @media (min-width: 48.0625em) {
            padding-right: 15px;
        }
    }
}