.govuk-time-input__item {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 0;
}

.govuk-time-input__colon {
    display: inline-block;
    margin-left: -10px;
    margin-right: 10px;
    font-weight: bold;
}