{% extends 'admin/base-with-nav.html.twig' %}

{% set translation_prefix = 'admin.pre-enquiry.sample-import-summary' %}

{% block adminContent %}
    {% from '@GhostGovUkFrontend/components/macros.html.twig' import summaryListStart, summaryListEnd, summaryListRow %}
    <p class="govuk-body">The following surveys have been created</p>

    {{- summaryListStart({classes: 'govuk-!-margin-bottom-5'}) -}}
        {% for survey in surveys %}
            {{- summaryListRow({
                key: survey.referenceNumber,
                value: survey.invitationAddress | formatAddress
            }) -}}
        {% endfor %}
    {{- summaryListEnd() -}}
{% endblock %}