{% extends 'base.html.twig' %}

{% block title %}International Pre-enquiry{% endblock %}

{% block content %}
    {% import '@GhostGovUkFrontend/components/component-macros.html.twig' as gdsComponents %}
    <h1 class="page-heading__heading govuk-heading-xl">IRHS Pre-enquiry summary</h1>

    <p>...</p>
{% endblock %}
