{% extends 'admin/base-with-nav.html.twig' %}

{% set translation_prefix = "admin.send-reminder-unavailable" %}

{%- from '@GhostGovUkFrontend/components/macros.html.twig' import warningText -%}

{% block adminContent %}
    <div class="govuk-width-container">
        {%- include "admin/international/includes/survey-basics.html.twig" -%}

        <div class="send-reminder-unavailable">
        {{- warningText({
                markdown: (translation_prefix ~ '.warning.' ~ reason.reason) | trans({
                    eventType: reason.eventType,
                    interval: reason.interval ? reason.interval.format('%d days, %h hours, %i minutes') : null,
                })
            })
        -}}
        </div>

        <a class="govuk-button govuk-button--secondary" href="{{ path('admin_international_survey_view', {surveyId: survey.id}) }}">Back</a>
    </div>
{% endblock %}
