{% extends 'admin/base-with-nav.twig' %}

{%- block adminContent -%}
    <h1 class="govuk-heading-l" id="top">Re-order actions</h1>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half-from-desktop">
            {%- include "international_survey/includes/form-action-reorder.html.twig" -%}
        </div>
    </div>
{%- endblock -%}