{%- from '@GhostGovUkFrontend/components/macros.html.twig' import summaryListStart, summaryListEnd, summaryListRow -%}

<h2 class="govuk-heading-m">Final details</h2>
{{- summaryListStart({classes: 'govuk-!-margin-bottom-' ~ (marginBottom ?? 9)}) -}}
    {%- if not survey.response.isInPossessionOfVehicle -%}
        No final details — respondent not in possession of vehicle
    {%- elseif not survey.response.hasJourneys -%}
        {%- set reason = choiceLabel(constant('App\\Entity\\Domestic\\SurveyResponse::EMPTY_SURVEY_REASON_CHOICES'), survey.response.reasonForEmptySurvey) -%}
        {{- summaryListRow({
            key: 'Reason for empty survey',
            value: (reason ? reason|trans : '-') ~ (
                    survey.response.reasonForEmptySurvey == constant('\\App\\Entity\\Domestic\\SurveyResponse::REASON_OTHER') ?
                        ": #{survey.response.reasonForEmptySurveyOther}" :
                        ''
                )
        }) -}}
    {%- else -%}
        {%- set fuelValue = survey.response.vehicle.fuelQuantity.value and survey.response.vehicle.fuelQuantity.unit ?
                ("common.volume.#{survey.response.vehicle.fuelQuantity.unit}" | trans({value: survey.response.vehicle.fuelQuantity.value})) :
                '-'
        -%}
        {{- summaryListRow({
            key: 'Fuel used during survey week',
            value: {html: fuelValue}
        }) -}}
    {%- endif -%}
{{- summaryListEnd() -}}
