@import "node_modules/govuk-frontend/dist/govuk/base";

#order-list {
  .govuk-summary-list__row {
    @include govuk-media-query($until: tablet) {
      margin-bottom: govuk-spacing(3);
      border-bottom: 1px solid $govuk-border-colour;
    }
    @include govuk-media-query($from: tablet) {
      display: table-row;
    }
  }

  .govuk-summary-list__key {
    font-weight: normal;
  }

  .govuk-summary-list__key,
  .govuk-summary-list__actions {
    margin: 0; // Reset default user agent styles

    @include govuk-media-query($from: tablet) {
      display: table-cell;
      padding-top: govuk-spacing(2);
      padding-right: govuk-spacing(4);
      padding-bottom: govuk-spacing(2);
      border-bottom: 1px solid $govuk-border-colour;
    }
  }

  .govuk-summary-list__actions {
    margin-bottom: govuk-spacing(3);
    @include govuk-media-query($from: tablet) {
      width: 35%;
      padding-right: 0;
      text-align: right;
    }
  }

  .govuk-summary-list__key {
    // Automatic wrapping for unbreakable text (e.g. URLs)
    word-wrap: break-word; // Fallback for older browsers only
    overflow-wrap: break-word;
    margin-bottom: govuk-spacing(1);
    //@include govuk-typography-weight-bold;
    @include govuk-media-query($from: tablet) {
      width: 65%;
    }

    strong {
      width: 30px;
      display: inline-block;
    }
  }

  // Expand width when value is last column (no action)
  .govuk-summary-list__value {
    &:last-child {
      @include govuk-media-query($from: tablet) {
        width: 65%;
      }
    }

    & > p {
      margin-bottom: govuk-spacing(2);
    }

    & > :last-child {
      margin-bottom: 0;
    }
  }
}
