@import "node_modules/govuk-frontend/dist/govuk/settings/colours-applied";
@import "node_modules/govuk-frontend/dist/govuk/helpers/links";

$govuk-warning-colour: govuk-colour('orange');

.govuk-notification-banner--warning {
  border-color: $govuk-warning-colour;
  background-color: $govuk-warning-colour;

  .govuk-notification-banner__link {
    @include govuk-link-style-success;
  }
}

.govuk-notification-banner--error {
  border-color: $govuk-error-colour;
  background-color: $govuk-error-colour;

  .govuk-notification-banner__link {
    @include govuk-link-style-success;
  }
}

.govuk-notification-banner__content > * {
  max-width: none;
}