@import "node_modules/govuk-frontend/dist/govuk/base";

.govuk-warning-text {
    .govuk-warning-text__text {
        // Markdown
        > p, > ul {
            margin: 0;
        }
    }

    &.govuk-warning-text__orange {
        .govuk-warning-text__icon {
            background: govuk-colour('orange');
            border-color: govuk-colour('orange');
        }
        .govuk-warning-text__text {
            color: govuk-colour('orange');
        }
    }
}