@import "app/advanced-data-entry";
@import "app/choice-label-icons";
@import "app/choice-label-bring-to-attention";
@import "app/session-reminder";
@import "app/vehicle-icons";
@import "app/prose-scope";

@import "common/notification-banner";
@import "common/text-align";

body {
    background-color: lightgray;
}

#non-existent-item {
    color: #fff;
}

.govuk-add-to-list__key .goods {
    margin-left: 30px;
}

.nowrap {
    white-space: nowrap;
}

#international_vehicle_weights_reminder {
    dt, dd {
        width: 50%;
    }
}

.govuk-warning-header {
    background: govuk-colour("white");
    color: govuk-colour("black");
    padding: govuk-spacing(2);
    @include govuk-font(16);
}

.roro-vehicle-counts {
    dl.govuk-summary-list {
        .govuk-summary-list__key {
            width: 75%;
        }
        .govuk-summary-list__value {
            width: 25%;
            text-align: right;
        }
    }
}
