@import "common/accessible-autocomplete";
@import "common/add-to-list";
@import "common/journeys-table";
@import "common/radios";
@import "common/value-unit-field";
@import "common/warning-text";

.govuk-visually-hidden-when-larger-than-mobile {
  @include govuk-media-query($from: tablet) {
    @include govuk-visually-hidden;
  }
}

.govuk-tabs__panel {
  .govuk-summary-list__row:last-child {
    .govuk-summary-list__key, .govuk-summary-list__value, .govuk-summary-list__actions {
      border-bottom-color: transparent;
    }
  }
}

li ul.govuk-list--indent {
  margin-left: 40px;
}

.govuk-list--circle {
  list-style-type: circle;
}