{% extends 'admin/report/report-base.html.twig' %}

{% set translation_prefix = "admin.reports.activity-status" %}

{% block statsTable %}
    {{ _self.displayTable(stats.data, stats.totals, stats.total) }}
{% endblock %}

{% macro displayTable(stats, totals, totalOfTotals) %}
    <p class="govuk-body">
        Stats shown for surveys that have been completed (closed, approved or exported)
    </p>
    <table class="govuk-table rfs-admin-report-table">
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Week</th>
            <th scope="col" class="govuk-table__header">Still active</th>
            <th scope="col" class="govuk-table__header">Ceased trading</th>
            <th scope="col" class="govuk-table__header">Domestic only</th>
            <th scope="col" class="govuk-table__header">Total</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">
        {% import "admin/report/macros.html.twig" as m %}
        {% set fields = ['still-active', 'ceased-trading', 'only-domestic-work'] %}
        {% for week, weekStats in stats %}
            {%- set allZeros = weekStats.allZeros -%}
            <tr class="govuk-table__row">
                <td class="govuk-table__header">{{ week }}</td>
                {{ m.displayRow(weekStats.data, weekStats.total, weekStats.allZeros, fields) }}
            </tr>
        {% endfor %}
        <tr class="govuk-table__row">
            <td class="govuk-table__header">Total</td>
            {{ m.displayRow(totals, totalOfTotals, false, fields) }}
        </tr>
        </tbody>
    </table>
{% endmacro %}