{% extends 'admin/report/report-base.html.twig' %}

{% set translation_prefix = "admin.reports.unapprovals" %}

{% block statsTable %}
    {% from '@GhostGovUkFrontend/components/macros.html.twig' import summaryListStart, summaryListEnd, summaryListRow %}
    <p class="govuk-body">Number of approvals that have later been un-approved, by username.</p>
    {{- summaryListStart() -}}
        {%- for data in stats -%}
            {{- summaryListRow({
                key: data.username | removeEmailNamespacePrefix,
                value: data.rejectedApprovalCount
            }) -}}
        {%- else -%}
            <p class="govuk-body">No approved surveys have been un-approved in this period.</p>
        {%- endfor -%}
    {{- summaryListEnd() -}}
{% endblock %}
