{% extends 'admin/base-with-nav.html.twig' %}

{% set translation_prefix = "admin.domestic.import" %}

{% block adminContent %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half-from-desktop">
            <p class="govuk-body">
                The first line of the address in each line of the import will be checked against the
                <a class="govuk-link" href="{{ path('admin_domestic_notification_interception_list') }}">LCNI (Large company notify interception)</a>
                list. Those that match will have the corresponding email address automatically added to the survey
            </p>

            {{ form(form) }}
        </div>
    </div>
{% endblock %}