{% extends 'admin/base-with-nav.twig' %}

{% block adminContent %}
    {% from '@GhostGovUkFrontend/components/macros.html.twig' import actionlessSummaryListRow %}
    <h1 class="govuk-heading-xl">CSRGT DVLA import - summary</h1>

    <p class="govuk-body">The following surveys have been created for the <strong>{{ surveyOptions.isNorthernIreland ? 'NI' : 'GB' }} region</strong>
        and will start on <strong>{{ surveyOptions.surveyPeriodStart | date('l, jS F Y') }}</strong>

    <dl class="govuk-summary-list govuk-!-margin-bottom-5">
        {% for survey in surveys %}
            {{ actionlessSummaryListRow(survey.registrationMark | formatRegMark, survey.invitationAddress | formatAddress) }}
        {% endfor %}
    </dl>
{% endblock %}