{% extends 'domestic_survey/base.html.twig' %}

{% set headingParams = {
    stageNumber: subject.number,
    dayNumber: subject.day.number
} %}

{% block content %}
    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import warningText -%}

    {%- with {stop: subject} -%}
        {%- set survey = stop.day.response.survey -%}

        <h1 class="govuk-heading-l" id="top">{{ "#{translation_prefix}.heading"|trans(headingParams) }}</h1>

        {%- with {showActions: false, marginBottom: 4, day: stop.day} -%}
            {%- include "domestic_survey/includes/day-stop.html.twig" -%}
        {%- endwith -%}

        {{- warningText({text: "#{translation_prefix}.delete" | trans }) -}}

        {{- form(form) -}}
    {%- endwith -%}
{% endblock %}