{% extends 'admin/base-with-nav.html.twig' %}

{% set translation_prefix = "admin.international.export-success" %}
{% set headingParams = {week: week} %}

{%- block adminContent -%}
    <p class="govuk-body">{{ (translation_prefix ~ '.message')|trans({week: week}) }}</p>

    <a href="{{ url('admin_international_export_download', {week: week}) }}" class="govuk-button govuk-!-margin-bottom-0">Download</a>
    <a href="{{ url('admin_international_export_list') }}" class="govuk-button govuk-button--secondary govuk-!-margin-bottom-0">Back to exports list</a>
{%- endblock -%}