{% extends 'base.html.twig' %}

{% block title %}Domestic Survey{% endblock %}

{% block content %}
    <h1 class="page-heading__heading govuk-heading-xl">Details of the sale</h1>

    <p class="govuk-body">Please provide contact details for the sale, including contact details for the new owner.</p>

    {{ form(form) }}
{% endblock %}
