{% extends 'base.html.twig' %}

{% block title %}Domestic Survey{% endblock %}

{% block content %}
    <h1 class="page-heading__heading govuk-heading-xl">Survey contact details</h1>

    <p class="govuk-body">Who should the Department for Transport team contact about the survey?</p>

    {{ form(form) }}
{% endblock %}
