{% extends 'base.html.twig' %}

{% block title %}Domestic Survey{% endblock %}

{% block content %}
    <h1 class="page-heading__heading govuk-heading-xl">Hiree contact details</h1>

    <p class="govuk-body">Please provide contact details for the hiree.</p>

    {{ form(form) }}
{% endblock %}
