{%- from '@GhostGovUkFrontend/components/macros.html.twig' import summaryListStart, summaryListEnd, summaryListRow -%}

<h2 class="govuk-heading-m">Final details</h2>
{{- summaryListStart({classes: 'govuk-!-margin-bottom-' ~ (marginBottom ?? 9)}) -}}
    {%- if survey.shouldAskWhyEmptySurvey -%}
        {%- set reason = choiceLabel(constant('App\\Entity\\International\\Survey::REASON_FOR_EMPTY_SURVEY_CHOICES'), survey.reasonForEmptySurvey) -%}
        {{- summaryListRow({
            key: 'Reason for empty survey',
            value: (reason ? reason|trans : '-') ~ (
                survey.reasonForEmptySurvey == constant('\\App\\Entity\\International\\Survey::REASON_FOR_EMPTY_SURVEY_OTHER') ?
                    " - #{survey.reasonForEmptySurveyOther}" :
                    ''
            )
        }) -}}
    {%- endif -%}
{{- summaryListEnd() -}}
