<details class="govuk-details" data-module="govuk-details">
    <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">{{ 'international.trip.ports.help.ports-which'|trans }}</span>
    </summary>
    <div class="govuk-details__text">{{ 'international.trip.ports.help.ports-explanation'|trans|nl2br }}</div>
</details>