{% extends "@GhostGovUkFrontend/template.html.twig" %}

{%- from '@GhostGovUkFrontend/components/macros.html.twig' import header as govukHeader -%}

{% block pageTitle -%}
    {{- 'service.name' | trans }} - GOV.UK
{%- endblock %}

{% block head -%}
    {{ encore_entry_link_tags('app') }}
{%- endblock %}

{% block bodyEnd %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}

{% block headerBar %}
    {{ govukHeader({
        serviceName: ('service.name' | trans)
    }) }}
{% endblock %}

{% block beforeContent %}
    <a href="#" class="govuk-back-link">Back</a>
{% endblock %}