{% extends 'base.html.twig' %}

{% block title %}Domestic Survey{% endblock %}

{% block content %}
    {% set heading = ("#{translation_prefix}.heading" | trans((heading_translation_parameters | default({})), heading_translation_domain | default(null)) ) %}
    {% if heading != "#{translation_prefix}.heading" and not heading is empty %}
        <h1 class="page-heading__heading govuk-heading-xl">{{ heading }}</h1>
    {% endif %}

    {% set help = ("#{translation_prefix}.help" | trans((help_translation_parameters | default({})), help_translation_domain | default(null))) %}
    {% if help != "#{translation_prefix}.help" and not help is empty %}
        <p class="govuk-body">{{ help }}</p>
    {% endif %}

    {{ form(form) }}
{% endblock %}
