{% extends 'admin/base-with-nav.html.twig' %}

{% set translation_prefix = 'admin.international.passcode-reset-success' %}

{% block adminContent %}
    {%- from '@GhostGovUkFrontend/components/macros.html.twig' import actionlessSummaryListRow -%}

    <p class="govuk-body">This is the <strong>one and only time</strong> that you will be able to view the access code.</p>

    {%- include "admin/international/includes/survey-basics.html.twig" with {showUsername: false} -%}

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        {{ actionlessSummaryListRow('admin.domestic.survey-created.access-code-1', survey.passcodeUser.username, {'row_class': 'access-code'}) }}
        {{ actionlessSummaryListRow('admin.domestic.survey-created.access-code-2', code, {'row_class': 'access-code'}) }}
    </dl>
{% endblock %}

