{% set translation_prefix = 'international.closing-details.confirm-submission' %}
{% set useThirdsColumns = false %}
{% extends 'international_survey/form-base.html.twig' %}

{% block content %}
    {%- include 'includes/form-page-content.html.twig' with {
        preFormContent: block('preFormContent'),
    } -%}
{% endblock %}

{% block preFormContent %}
    {% with {response: subject.response, showActions: false} %}
        {% include 'international_survey/includes/contact-details.html.twig' %}

        <p class="govuk-body">Please ensure that all the information you have entered is correct and complete before submitting your survey. You can <a href="{{ url('app_internationalsurvey_summary') }}" class="govuk-link">go back to the dashboard</a> and check if you're unsure.</p>
    {% endwith %}
{% endblock %}