{% extends 'admin/base-with-nav.twig' %}

{%- block adminContent -%}
    <h1 class="govuk-heading-l" id="top">Enter Business and Vehicle Details</h1>

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half-from-desktop">
            {{ form(form) }}
        </div>
    </div>
{%- endblock -%}