{% from "admin/macros/macros.html.twig" import displayHazardousGoods, displayLimitedBy %}
{% from '@GhostGovUkFrontend/components/macros.html.twig' import tableHeadComplex, tableRowComplex, tableCell, actionLinks %}
{% from "admin/domestic/macros.html.twig" import locationAndStatus, dayJourneyTableCaption, dayJourneyTableHeading %}

{% for dayNumber in 1..7 -%}
    {%- set day = survey.response.dayByNumber(dayNumber) -%}
        {% if day %}
            {%- if day.hasMoreThanFiveStops -%}
                {%- include "admin/domestic/includes/day-summary.html.twig" -%}
            {%- else -%}
                {%- include "admin/domestic/includes/day-stop.html.twig" -%}
            {%- endif -%}
        {% else %}
            <table class="govuk-table admin-journeys-table">
                <thead class="govuk-table__head">
                {{ dayJourneyTableCaption(dayNumber, survey) }}
                </thead>
                <tbody class="govuk-table__body">
                <tr>
                    <td>-- Nothing recorded --</td>
                </tr>
                </tbody>
            </table>

            <div class="govuk-!-margin-bottom-9">
                {%- set addRoute = constant('App\\Controller\\Admin\\Domestic\\DayStopController::ADD_DAY_AND_STOP_ROUTE') -%}
                <a href="{{ url(addRoute, {surveyId: survey.id, dayNumber: dayNumber}) }}" class="govuk-button govuk-!-margin-bottom-0">{{ 'common.actions.add-day-and-stop'|trans }}</a>
            </div>
        {% endif %}
{% endfor %}