{% extends 'base.html.twig' %}

{% set translation_prefix = "survey-feedback" %}

{% block content -%}
    {% form_theme form _self %}
    {%- include 'includes/form-page-content.html.twig' -%}
{%- endblock %}

{% block _feedback_confirm_row %}
    <p class="govuk-body">{{ "survey-feedback.confirm.privacy-warning" | trans }}</p>
    {{ form_row(form) }}
{% endblock %}